
<div class="flex flex-col h-screen bg-black w-screen pt-4 pl-4 gap-2">
  <div class="flex flex-col items-center justify-center gap-1">
    <terminal-text text="Corey Caire" classes="text-9xl" (isAnimationComplete)="receivedEvent($event)" animationName="nameTitle"></terminal-text>
    <terminal-text 
        text="Angular Developer" 
        classes="text-5xl" 
        (isAnimationComplete)="receivedEvent($event)" 
        animationName="testAnimation"
        [receivedEvent]="recentlyCompletedAnimation" 
        [waitingOn]="'nameTitle'">
      </terminal-text>
  </div>
  <div class="w-1/2 mx-auto">
    <terminal-input promptPrefix="usr/bin/" [receivedEvent]="recentlyCompletedAnimation" [waitingOn]="'testAnimation'"></terminal-input>
  </div>
  <router-outlet></router-outlet>
</div>