
<div class="flex flex-col h-screen bg-black w-screen pt-4 pl-4">
  <div class="flex items-center justify-center">
    <terminal-text text="Corey Caire" variation="9xl" (isAnimationComplete)="receivedEvent($event)" animationName="nameTitle"></terminal-text>
  </div>
  <terminal-text 
      text="Test" 
      variation="2xl" 
      (isAnimationComplete)="receivedEvent($event)" 
      animationName="testAnimation"
      [receivedEvent]="recentlyCompletedAnimation" 
      [waitingOn]="'nameTitle'"></terminal-text>
      
  <terminal-input promptPrefix="usr/bin/" [receivedEvent]="recentlyCompletedAnimation" [waitingOn]="'testAnimation'"></terminal-input>

</div>